<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8sMJsGVUazj-ufM2pdoUj469pukYjEvI</string>
	<key>GCM_SENDER_ID</key>
	<string>87503880032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.misLab2</string>
	<key>PROJECT_ID</key>
	<string>mis-lab-app-3</string>
	<key>STORAGE_BUCKET</key>
	<string>mis-lab-app-3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87503880032:ios:f62d9dd7d3b8bc7d32a805</string>
</dict>
</plist>